/*
Seletor Universal
*{
    border: 1px solid red;
}*/

/* Seletor de Texto 
h1 {
    color: green;
}*/

/* Seletor de classe 
.verde{
    color: green;
}

p.verde{
    color: green;
} */

/* Seletor de ID 
#cabecalho {
    border: 1px solid blue;
}*/

/* Seletor de filho 
li>a{
    color: red;
    text-decoration: none;
}*/

/* Seletor de descendente 
p a {
    color: green;
}*/

/* Seletor de irmão adjacente 
h1+p {
     color: red;
}*/

/*Seletor de irmão geral
h1~div{
    color: pink;
}*/

/*Herança e especificade
body{
    color: red;
    border: 1px solid blue;
}*/
/*
p {
    color: red !important;
}

p {
    color: blue;

    Quando temos dois seletores iguais, a formatação que será aplicada sempre será a ultima, neste caso o azul, só será aplicado a primeira caso você utilize o !important, mas utilize com caltela em casos específicos para que seu código não fique confuso
}*/

